<div class="row widget-footer">
  <div class="container">
    <div class="col-md-4">
      <h2>Layanan Pelanggan</h2><br />
        <h4><i class="fa fa-whatsapp" aria-hidden="true"></i> +0857-2474-8508</h4>
        <h4>info@lapakos.com</h4>
    </div>
    <div class="col-md-4">
      <h2>Stay Connected</h2>
      <div id="iconsosmed">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Download Apps</h2>
      <%= image_tag("playstore.png", :alt => "play-store", :class => "play-store") %><br/>
      <%= image_tag("applestore.png", :alt => "play-store", :class => "play-store") %>
    </div>

  </div><!--end container-->
</div><!--end row-->


<footer>
  <p>LapaKos &copy; 2017</p>
</footer>
