<!--header-->
<header>
  <div class="wrapper-header container">
    <!--logo-->
    <div id="logo">
      <a href="/">
        <%= image_tag("logo.png", :alt => "LapaKos") %>
      </a>
    </div>
    <!--end of logo-->
    <!--nav-->
    <nav>
      <ul>
        <li><%= link_to "Login", kosts_path %></li>
        <li><%= link_to "Sign Up", new_pengguna_registration_path	 %></li>
        <li><%= link_to "Kelola Kosan", new_pengguna_registration_path, class: "btkelola"%></li>
      </ul>
    </nav>
    <!--end of nav-->
  </div>
</header>
<!--end of header-->
